//- unescaped vars linked like !{peach}
//- inline tags with #[]
extends base
block music
block content
  ul#toc
    //- li !{} by #[a(href='') ]

    li !{intro}
    li !{satan} by Nejma
    li !{judge} by Andrea Mina
    li !{peach} by !{jared}
    li !{davin} by !{pavlas}
    li !{six} by Damian Wassel
    li !{leaves} by !{sydney}
    li !{iphone} by Jes Negrón
    li !{sky} by !{mfolk}
    li !{dead} by !{dave}
    li !{humans} by !{pat}
    li !{avner} by !{irene}
    li !{star} by !{starsky}
    li !{review} by !{steve}
    li !{wawro} by !{alexwa}
    li !{final} by !{nfolk}
    li !{choke} by !{irene}
    li !{outro}
    br
    br
    li: em #[a(href='index.html') Cover] by !{irene}
    li: em Music: Turtleback by !{vince}
block footer
  .left #[a(href='index.html') Cover]
  .right !{intro}